.container__specific-artist-block {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.container__specific-artist-block img {
  width: 61px;
  border-radius: 100%;
  height: 65px;
}

.container__album-in-songs-justify {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.container__album-in-songs-justify > .span__artist-song-size {
  padding: 0 40px;
}

.container__album-in-songs-justify > .span__songs-size {
  margin-right: 61px;
}

@media screen and (min-width: 768px) {
  .container__specific-artist-block img {
    width: 50px;
    border-radius: 100%;
    height: 50px;
  }

  .container__specific-artist-block {
    flex-direction: column;
    margin-top: 5px;
  }

  .span__more-song-size {
    display: none;
  }

  .container__album-in-songs-justify > .span__songs-size {
    margin: 0px;
    max-width: 100%;
  }

  .span__artist-song-size {
    text-align: center;
  }

  .container__album-in-songs-justify {
    margin-top: 10px;
    flex-direction: column;
    width: 60px;
  }

  .container__specific-artist-block img {
    width: 45px;
    border-radius: 100%;
    height: 45px;
  }

  .container__album-in-songs-justify > .span__songs-size {
    padding-right: 0px;
  }

  .container__album-in-songs-justify > .span__artist-song-size {
    padding-right: 0px;
  }
  .span__songs-size {
    text-align: center;
  }
}
