* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #101010;
}

.container__information-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 150px;
  left: 16px;
}

.container__img {
  margin: 15px 0px;
}
.container__img-size {
  position: relative;
  text-align: center;
  color: white;
}
.container {
  margin: 0 20px;
}

.img__picture {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.span__artist-text {
  text-align: left;
  font-size: 20px;
}

.container__songs-text-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span__other-text-size {
  color: #ababab;
  font-size: 10px;
}

.span__popular-text-size {
  font-size: 17px;
  font-weight: 700;
}

.container__proposing-song-display {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 4fr 11fr;
  }

  .container__navbar-display {
    width: 100%;
  }

  .container__proposing-song-display {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-column-gap: 20px;
  }

  .container__cover-display {
    margin-top: 30px;
  }

  .container__cover-display img {
    height: 220px;
    width: 460px;
    border-radius: 20px;
  }
}
